<h1>New quote</h1>

<a href="../prospects/new" onclick="return popitup('../prospects/new')">Create Prospect</a>

<%= link_to( 'Prospects', "../prospects/new", 'data-popup' => true ) %>

<%= render 'form' %>

<%= link_to 'Back', quotes_path %>
