<section id="main-content">
  <div id="guts">

    <h2 class="page-title">Old Quotes</h2> <h3>< <a href="../page/new_project">back</a></h3>

    <div id="quote">
      <span class="quote-no"><a href="q-1234.php">Q#</a></span>
      <span class="excerpt"></span>
    </div>

    <div style="clear:both;"></div>
  </div>
</section>