<p id="notice"><%= notice %></p>

<section id="main-content">
  <div id="guts">

    <h2 class="page-title">New Quote - ID: #</h2>
    <div id="project">

      <div id="customer-demographics"><h2>Project Information</h2>
        <div class="field">

        </div>
      </div>

      <div id="job-desc"><h2>Quote Notes</h2>
        <div class="field">

        </div>
      </div>

      <div id="dates"><h2 class="page-title">Critical Dates</h2>

        <div class="field">
          <h3>Quote Due Date: </h3>

        </div>
        <div class="field">
          <h3>Artwork Due Date: </h3>

        </div>
        <div class="field">
          <h3>Artwork Proof Link: </h3>

        </div>

        <div class="field">
          <h3>Quote Amount: </h3>

        </div>

        <div class="field">
          <h3>Projected Close Date: </h3>

        </div>
      </div>
    </div>
  </div>



  </div>

  <div style="clear:both;"></div>

  </div>

</section>