<section id="main-content">
  <div id="guts">

    <div id="new_project">
      <a href="quotes/new">New Quote</a>
    </div>

    <div id="existing-project">
      <a href="quotes">Existing Quotes</a>
    </div>

    <div id="past-project">
      <a href="quotes/past_quotes">Past Project</a>
    </div>

    <div id="daily-dashboard">
      <a href="pages/dashboard">Daily Dashboard</a>
    </div>

  </div>
</section>

<% mailbox.conversations.each do |customer| %>
    conversation subject --- <%= link_to customer_new_path.subject, conversation, remote: true %>
<% end %>