<section id="main-content">
  <div id="guts">

    <nav style="margin-bottom:50px;">
      <ul class="group">
        <li><%= link_to 'New Quote', 'quotes/new' %></li>
        <li><%= link_to 'Show Quotes', 'quotes/show' %></li>
      </ul>
    </nav>


    <div id="col1">
      <h2>Previous Day</h2>

      <div id="to-be-shipped">
        <h2>To Be Shipped</h2>

        <% @quotes.each do |t| %>
            <li> <%= t.customer_master_id %> </li>
        <% end %>

      </div>

    </div>

    <div id="col2">
      <h2>Today | Week | Month</h2>
    </div>

    <div id="col3">
      <h2>Next Day</h2>

      <div id="pending-quotes">
        <h2>Pending Quotes</h2>

        <% @quotes.each do |t| %>
            <li> <%= t.quote_due_date %> </li>
        <% end %>




      </div>
    </div>

    <div style="clear:both;"></div>
  </div>
</section>